{% load static from static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Django blog</title>
    </head>
    <body>
        <div class="wrapper">
            <a href="{% url 'home' %}"><img src="{% static 'logo.png' %}"></a>
            <nav>
                <ul>
                    {% if user.is_authenticated %}
                        <li>
                            <form action="/accounts/logout/" method="post">
                                {% csrf_token %}
                                <button type="submit">Log out</button>
                            </form>
                        </li>
                        <li><a href="{% url 'createArticle' %}" class='highlight'>New Article</a></li>
                    {% else %}
                        <li><a href="{% url 'login' %}">Login</a></li>
                        <li><a href="{% url 'signup' %}">Register</a></li>
                    {% endif %}
                </ul>
            </nav>
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>